<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% block title %}
{{ title }}
{% endblock %}
<body>
  <header>
    {% include 'includes/header.html' %}      
  </header>
  {% block content %} 
  <div class="container py-5">
    <h1>{{title}}</h1>
    <div class="container py-5"></div>
      <table border="1">
        <tr>
          <td>Организация</td>
          <td>Счет</td>
          <td>Сумма</td>
        </tr>
        {% for row in file_data %}
        <tr>
          <td>{{row.organization}}</td>
          <td>{{row.bank}}</td>
          <td>{{row.amount}}</td>
      </tr>
       {% endfor %}
      </table>
    </div>
  </div>
  {% endblock %}         
  <footer class="border-top text-center py-3">
    {% include 'includes/footer.html' %}     
  </footer>
</body>